<p id="notice"><%= notice %></p>

<h1>Cruds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cruds.each do |crud| %>
      <tr>
        <td><%= link_to 'Show', crud %></td>
        <td><%= link_to 'Edit', edit_crud_path(crud) %></td>
        <td><%= link_to 'Destroy', crud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crud', new_crud_path %>
