<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :channel_company %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :channel_address %>
  </div>

  <div class="field">
    <%= form.label :district_id %>
    <%= form.collection_select(:district_id, District.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :channel_long %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :channel_lat %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :channel_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
