<p id="notice"><%= notice %></p>

<h1>Channels</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
      <th>District</th>
      <th>Long</th>
      <th>Lat</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.company %></td>
        <td><%= channel.address %></td>
        <td><%= channel.district.name %></td>
        <td><%= channel.long %></td>
        <td><%= channel.lat %></td>
        <td><%= channel.status %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Channel', new_channel_path %><br>
<%= link_to 'Back', welcome_index_path %>