<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @channel.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @channel.address %>
</p>

<p>
  <strong>District:</strong>
  <%= @channel.district.name %>
</p>

<p>
  <strong>Long:</strong>
  <%= @channel.long %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @channel.lat %>
</p>

<p>
  <strong>Status:</strong>
  <%= @channel.status %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
