<%= form_with(model: city, local: true) do |form| %>
  <% if city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :city_name %>
  </div>

  <div class="field">
    <%= form.label :province_id %>
    <%= form.collection_select(:province_id, Province.all, :id, :name) %>
    <%
=begin%>
 <%= form.text_field :province_id, id: :city_province_id %> 
<%
=end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
