<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Province</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.province.name %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %><br>
<%
=begin%>
 <%= link_to 'Back', welcome_path %> 
<%
=end%>
<%= link_to 'BACK', welcome_index_path %>
